//Colors: https://coolors.co/114b5f-456990-e4fde1-f45b69-6b2737
//Fonts: https://fonts.google.com/specimen/Alkalami

$backgroundColor01: #114b5f;
$panelsColor01: #456990;
$foreColor01: #e4fde1;
$contrastColor01: #f45b69;
$canvasColor01: #6b2737;

//Images:
$parallaxImg01: "../../assets/images/neonTriangleForest.jpg";
$parallaxImg02: "../../assets/images/neonTunnel_1.jpg";