@import "./config";
@import "./parallax";
@import "./navegation";
@import "./table";
@import "./crypto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alkalami', serif;
}
.flex{
    display: flex;
    gap: var(--gap, 2rem);
}
