html {
  font-size: 8px; }

@media screen and (min-width: 480px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 660px) {
  html {
    font-size: 15px; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 17px; } }

.parallax {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(30vh); }
  .parallax.par-01 {
    background-image: url("../../assets/images/neonTriangleForest.jpg"); }
  .parallax.par-02 {
    background-image: url("../../assets/images/neonTunnel_1.jpg"); }

.parallax-font {
  font-weight: lighter;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem; }
  .parallax-font.par-01-header {
    width: 33.3%;
    font-size: 2.3rem;
    color: rgba(0, 225, 255, 0.799);
    background: #7d0078;
    background: -moz-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: -webkit-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078",endColorstr="#048099",GradientType=1); }
  .parallax-font.par-01-caption {
    font-size: 1.5rem;
    width: 18.8%;
    color: #ffa5eb;
    background: #c800c0;
    background: -moz-linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    background: -webkit-linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    background: linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c800c0",endColorstr="#000000",GradientType=1); }

.logo-navbar {
  width: 3rem;
  height: 3rem;
  margin: 0.3rem;
  padding-top: 0.8rem; }

.primary-header {
  position: fixed;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem; }

.mobile-nav-toggle {
  display: none; }

.primary-navigation {
  list-style: none;
  margin: 0; }
  .primary-navigation.a {
    text-decoration: none; }

.primary-navigation[data-visible="true"] {
  transform: translateX(0%); }

.navbar-element {
  position: relative;
  text-decoration: none;
  color: aliceblue;
  padding: 0.3rem 0 0 0;
  font-size: 1.5rem; }
  .navbar-element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0.08rem;
    background: #f7f7f7;
    transition: all 300ms ease-in-out; }
  .navbar-element::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.08rem;
    background: #f7f7f7;
    transition: all 300ms ease-in-out; }
  .navbar-element:hover::before, .navbar-element:hover::after {
    width: 103%;
    left: 0; }

@media screen and (orientation: portrait) {
  .primary-navigation {
    z-index: calc($zIndexMax - 1);
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: 5rem 5rem 8rem 8rem;
    backdrop-filter: blur(1rem);
    background: rgba(83, 24, 73, 0.521);
    transform: translateX(100%);
    transition: transform 400ms ease-out; }
  .mobile-nav-toggle {
    display: block;
    border: 0;
    border-radius: 50%;
    position: absolute;
    background-image: url("../../assets/images/menu.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.1rem;
    right: 1.1rem;
    z-index: 999; }
  .mobile-nav-toggle[data-visible="true"] {
    background-image: url("../../assets/images/menuClose.svg"); } }

.navbar-element img {
  width: 1.9rem;
  aspect-ratio: 1;
  display: inline-block;
  vertical-align: -0.4rem; }

.navbar-element span {
  display: none; }

@media screen and (max-width: 480px) {
  .navbar-element span {
    display: block; }
  .navbar-element img {
    display: none; } }

@media screen and (min-width: 480px) {
  .navbar-element span {
    display: inline-block; }
  .navbar-element img {
    display: inline-block; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Alkalami', serif; }

.flex {
  display: flex;
  gap: var(--gap, 2rem); }
