html {
  font-size: 8px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
  font-weight: normal; }

img {
  max-width: 100%;
  height: auto; }

@media screen and (min-width: 480px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 660px) {
  html {
    font-size: 15px; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 17px; } }

.parallax {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(30vh); }
  .parallax.par-01 {
    background-image: url("../../assets/images/neonTriangleForest.jpg"); }
  .parallax.par-02 {
    background-image: url("../../assets/images/neonTunnel_1.jpg"); }
  .parallax.par-03 {
    background-image: url("../../assets/images/neonWall.jpg"); }

.parallax-font {
  font-weight: lighter;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem; }
  .parallax-font.par-01-header {
    width: 33.3%;
    font-size: 2.3rem;
    color: rgba(0, 225, 255, 0.799);
    background: #7d0078;
    background: -moz-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: -webkit-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078", endColorstr="#048099", GradientType=1); }
  .parallax-font.par-01-caption {
    font-size: 1.5rem;
    width: 18.8%;
    color: #ffa5eb;
    background: #c800c0;
    background: -moz-linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    background: -webkit-linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    background: linear-gradient(180deg, rgba(200, 0, 192, 0.619485) 0%, rgba(148, 5, 142, 0.599877) 71%, rgba(0, 0, 0, 0.608281) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c800c0", endColorstr="#000000", GradientType=1); }

.logo-navbar {
  width: 3rem;
  height: 3rem;
  margin: 0.3rem;
  padding-top: 0.8rem; }

.primary-header {
  position: fixed;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem; }

.mobile-nav-toggle {
  display: none; }

.primary-navigation {
  list-style: none;
  margin: 0; }
  .primary-navigation.a {
    text-decoration: none; }

.primary-navigation[data-visible="true"] {
  transform: translateX(0%); }

.navbar-element {
  position: relative;
  text-decoration: none;
  color: aliceblue;
  padding: 0.3rem 0 0 0;
  font-size: 1.5rem; }
  .navbar-element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0.08rem;
    background: #f7f7f7;
    transition: all 300ms ease-in-out; }
  .navbar-element::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.08rem;
    background: #f7f7f7;
    transition: all 300ms ease-in-out; }
  .navbar-element:hover::before, .navbar-element:hover::after {
    width: 103%;
    left: 0; }

@media screen and (orientation: portrait) {
  .primary-navigation {
    z-index: calc(999 - 1);
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: 5rem 5rem 8rem 8rem;
    backdrop-filter: blur(1rem);
    background: rgba(83, 24, 73, 0.521);
    transform: translateX(100%);
    transition: transform 400ms ease-out; }
  .mobile-nav-toggle {
    display: block;
    border: 0;
    border-radius: 50%;
    position: absolute;
    background-image: url("../../assets/images/menu.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.1rem;
    right: 1.1rem;
    z-index: 999; }
  .mobile-nav-toggle[data-visible="true"] {
    background-image: url("../../assets/images/menuClose.svg"); } }

.navbar-element img {
  width: 1.9rem;
  aspect-ratio: 1;
  display: inline-block;
  vertical-align: -0.4rem; }

.navbar-element span {
  display: none; }

@media screen and (max-width: 480px) {
  .navbar-element span {
    display: block; }
  .navbar-element img {
    display: none; } }

@media screen and (min-width: 480px) {
  .navbar-element span {
    display: inline-block; }
  .navbar-element img {
    display: inline-block; } }

.table {
  display: table;
  width: 90%;
  margin: auto; }

.table-caption {
  display: table-caption;
  text-align: center;
  font-size: 2.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding: 1.1em;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: #ffd1fd; }

.table-header {
  font-size: 1.4em;
  display: table-header-group;
  background-color: #6b2737;
  color: #e4fde1; }

.table-cell-header {
  display: table-cell;
  padding: 1rem;
  text-align: justify;
  border-bottom: 0.2rem solid #f45b69; }

.table-body {
  display: table-row-group; }

.table-row {
  display: table-row; }
  .table-row.row-one {
    background-color: #114b5f; }
  .table-row.row-two {
    background-color: #456990; }

.table-cell {
  display: table-cell;
  padding-left: 0.4em;
  padding-right: 0.4em; }

.table-footer {
  display: table-footer-group;
  font-weight: lighter;
  font-size: 1em;
  background-color: #7f0799;
  color: #d3fff3; }

.footer-cell {
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black; }

.table-text-rigth {
  text-align: right; }

.table-text-center {
  text-align: center; }

.table-text-left {
  text-align: left; }

.cryptos-area {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #1f1e1e;
  color: #d3fff3; }

.cryptos-grid-area {
  width: 85%;
  margin: auto;
  padding: 1.3rem 0.6rem; }

.criptos-grid-title {
  font-size: 3em;
  text-align: center; }

.criptos-grid-name {
  font-size: 1.5em; }

.cryptos-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem; }

.crypto-unit {
  padding: 0.4rem;
  border: 0.2rem solid #114b5f;
  border-radius: 5px;
  border-left: 0.8rem solid #114b5f; }

.crypto-info {
  color: #86cd82; }

.crypto-label {
  color: #a0eec0; }

.last-24-neutral {
  color: white; }

.last-24-positive {
  color: #00da00; }

.last-24-negative {
  color: #eb0404; }

body {
  font-family: 'Alkalami', serif; }

.flex {
  display: flex;
  gap: var(--gap, 2rem); }

.center {
  width: 99%;
  margin: auto;
  text-align: center;
  vertical-align: middle; }

.neon-button-cyan {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3.3rem;
  text-decoration: none;
  color: cyan;
  font-family: "Poppins", sans-serif;
  border: 0.15rem solid cyan;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 333ms ease-out;
  background-color: #114b5f; }
  .neon-button-cyan:hover {
    background-color: cyan;
    color: #114b5f;
    box-shadow: 0 0 0.7rem cyan, 0 0 2.8rem cyan, 0 0 5.6rem cyan; }

.neon-button-red {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3.3rem;
  text-decoration: none;
  color: #720303;
  font-family: "Poppins", sans-serif;
  border: 0.15rem solid #720303;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 333ms ease-out;
  background-color: #c4cbca; }
  .neon-button-red:hover {
    background-color: #720303;
    color: #c4cbca;
    box-shadow: 0 0 0.7rem #720303, 0 0 2.8rem #720303, 0 0 5.6rem #720303; }

.beginning {
  margin: auto;
  padding: 5rem;
  text-align: center;
  background-color: #1f1e1e;
  color: #ffd1fd; }

.not-found-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(30vh);
  background: url("../../assets/images/astronaut.jpg"); }

.not-found-page-caption {
  font-weight: lighter;
  margin: auto;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.2rem;
  margin-bottom: 1.3rem;
  width: 33.3%;
  font-size: 1.3rem;
  color: rgba(0, 225, 255, 0.799);
  background: #7d0078;
  background: -moz-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
  background: -webkit-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
  background: linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078", endColorstr="#048099", GradientType=1); }

.about-us-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(30vh);
  background-color: #3e004b; }
  .about-us-page .font {
    font-weight: lighter;
    margin: auto;
    text-align: center;
    border-radius: 0.6rem;
    padding: 0.2rem;
    margin-bottom: 1.3rem;
    width: 33.3%;
    font-size: 2.3rem;
    color: rgba(0, 225, 255, 0.799);
    background: #7d0078;
    background: -moz-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: -webkit-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078", endColorstr="#048099", GradientType=1); }

.faq-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(30vh);
  background-color: #3e004b; }
  .faq-page .font {
    font-weight: lighter;
    margin: auto;
    text-align: center;
    border-radius: 0.6rem;
    padding: 0.2rem;
    margin-bottom: 1.3rem;
    width: 33.3%;
    font-size: 2.3rem;
    color: rgba(0, 225, 255, 0.799);
    background: #7d0078;
    background: -moz-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: -webkit-linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    background: linear-gradient(45deg, rgba(125, 0, 120, 0.865984) 0%, rgba(62, 61, 121, 0.916404) 40%, rgba(9, 111, 121, 0.899597) 70%, rgba(4, 128, 153, 0.871586) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078", endColorstr="#048099", GradientType=1); }
